<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Glossary.icns</string>
			<key>CFBundleTypeName</key>
			<string>XML Glossary</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>GlossaryDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tmx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Glossary.icns</string>
			<key>CFBundleTypeName</key>
			<string>TMX Glossary</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>GlossaryDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xlif</string>
				<string>xlf</string>
				<string>xliff</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Glossary.icns</string>
			<key>CFBundleTypeName</key>
			<string>XLIFF Glossary</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>GlossaryDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Glossary.icns</string>
			<key>CFBundleTypeName</key>
			<string>TXML Glossary</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>GlossaryDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ad</string>
				<string>wg</string>
				<string>lg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Glossary.icns</string>
			<key>CFBundleTypeName</key>
			<string>AppleGlot Glossary</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>GlossaryDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ilg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Glossary.icns</string>
			<key>CFBundleTypeName</key>
			<string>iLocalize 3 Glossary</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ILGL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>GlossaryDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>strings</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Glossary.icns</string>
			<key>CFBundleTypeName</key>
			<string>Strings Glossary</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>GlossaryDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>text</string>
				<string>txt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Glossary.icns</string>
			<key>CFBundleTypeName</key>
			<string>Text Glossary</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>GlossaryDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ilocalize</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Project.icns</string>
			<key>CFBundleTypeName</key>
			<string>iLocalize 3 Project</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IL3P</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>ProjectDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>iLocalize</string>
	<key>CFBundleHelpBookFolder</key>
	<string>iLocalize.help</string>
	<key>CFBundleHelpBookName</key>
	<string>iLocalize Help</string>
	<key>CFBundleIconFile</key>
	<string>ApplicationIcons</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iLocalize</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.3.4</string>
	<key>CFBundleSignature</key>
	<string>ILO4</string>
	<key>CFBundleVersion</key>
	<string>93</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.8</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2004-2014 Arizona Software; since 2014 under BSD License</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>ilocalize.sdef</string>
</dict>
</plist>
