* {
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-decoration: none;
	font-size: small;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	margin: 0px;
}
h1 {
	margin-left: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
	line-height: 32px;
	padding-left: 42px;
	background-position: left bottom;
	background-repeat: no-repeat;
	background-image: url(../shared/logo.png);
	-webkit-background-size: 32px 32px;
}

h2 {
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}
ul, ol {
	margin-left: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
	padding-bottom: 1em;
	padding-top: 1em;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
}

ul.simple, ol.simple {
	margin-left: 1em;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-color: #cccccc;
	border-style: none;
	border-width: 1px;
}

ol ul {
	margin-left: 0px;
	padding-left: 1em;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-bottom: 0px;
	padding-top: 0px;
	list-style-type: square;
	border-style: none;
}
ul ul {
	margin-left: 0px;
	padding-left: 1em;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-bottom: 0px;
	padding-top: 0px;
	list-style-type: square;
	border-style: none;
}
li {
	padding-bottom: 0.5em;
}
p {
	padding-left: 1em;
}
pre {
	padding-top: 0.5em;
	font-family: monospace;
}
div.navbar {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	font-size: x-small;
	padding-left: 1em;
	background-color: #f2f2f2;
	border-bottom-color: #cccccc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

div.navbar a {
	font-size: x-small;
}
div.topics {
}
div.topics ul {
	margin-right: 1em;
	background-color: #e6edff;
}
div.description {
	margin-right: 1em;
}
div.description ul, ol {
	background-color: #e6edff;
}
div.tips {
	margin-right: 1em;
}
div.tips ul {
	background-color: #ffee99;
}
div.tips h1 {
	background-image: url(../shared/tips.png);
}
div.argument {
	margin-right: 5px;
	display: inline;
	font-weight: bold;
}
table, th, td {
	padding-right: 1em;
	padding-left: 1em;
	border-collapse: collapse;
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
}
table {
}
table.t2 {
	margin-bottom: 1em;
	margin-top: 1em;
	padding-bottom: 1em;
	margin-left: 1em;
}
th {
	background-color: #ffff99;
	height: 20px;
}
td {
	text-align: center;
	background-color: white;
	height: 20px;
}
td.description {
	padding: 5px;
	max-width: 500px;
	text-align: left;
	background-color: white;
	height: 20px;
}
pre {
	margin-top: 1em;
	margin-left: 1em;
	border-color: #cccccc;
	border-style: none;
	font-family: monospace;
}
